 <div class="user-header">
  <span>Добро пожаловать, {{username}}!</span>
  <button mat-button (click)="logout()">Выйти</button>
</div>
 
 <div *ngIf="isLoading" class="loading">Загрузка данных...</div>

  <section class="results">
    <app-housing-location 
      *ngFor="let location of filteredLocations"
      [housingLocation]="location">
      <a [routerLink]="['/booking', location.id]" class="book-button">Забронировать</a>
    </app-housing-location>
  </section>
  
  <div class="search-container">
    <div class="search-box">
      <input 
        type="text" 
        placeholder="Фильтровать по гостиничным номерам"
        class="search-input"
        [(ngModel)]="searchText"
        (input)="filterLocations()"
      >
      <button class="search-button" (click)="filterLocations()">
        Поиск
      </button>
    </div>
    
    <div class="hotel-photo-container">
      <img 
        src="assets/images/hotel1.jpg" 
        alt="Фото отеля"
        class="hotel-photo"
      >
      <div class="hotel-info">
        <h2>Про отель</h2>
        <p><b>Grand Cosmopolitan — один из лучших отелей в Дубай.</b></p>
        <ul>
          <li>Гостиница Grand Cosmopolitan Hotel расположена в городе Дубай.</li>
          <li>Количество звёзд: 5.</li>
          <li>Есть кондиционер, холодильник, телевизор, фен, утюг, чай/кофе в номерах, сейф, терраса, мини-бар.</li>
          <li>В гостинице есть ресторан, бар, тренажёрный зал, сауна, конференц-зал.</li>
          <li>Открытый бассейн для гостей.</li>
          <li>Доступ в интернет для всех гостей.</li>
        </ul>
      </div>
    </div>
  </div>
  
